*{
    margin: 0px;  
    padding: 0px;
font-family: sans-serif;
box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(137, 137, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://imgs.search.brave.com/MdhrbIvzrkgGQdKuhF_jMs-B5OeH8eNf31ABEyBBxkg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA2Lzk1LzQwLzAw/LzM2MF9GXzY5NTQw/MDA1N19QUGhaZzFT/Y01TOUs5UDZkcDJy/cUVZcTNjMDJZTTlC/ci5qcGc");
    
}

form{
    height: 10rem;
    width: 28rem;
    margin-top: .4rem;

}

.card{
    width:90%;
    color:#fff;
border-radius: 20px;
padding: 40px 20px;
text-align: center;
background-color: rgb(19, 11, 83);

}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search input{
    border: 0;
outline: 0;
height: 60px;
background: #e4e4fc;
border-radius: 30px;
flex: 1;
font-size: 14px;
padding: 10px 25px;
/* margin: 16px;
 */margin-right: 16px;
  }


  .search button{
    border: 0;
outline: 0;
border-radius: 50%;
width: 60px;
height: 60px;
cursor: pointer;
background: #e4e4fc;
  }

  .search button img{
    width: 25px;

  }

  .weather-top{
    width: 159px;
    margin-top: 30px;
  }
  
  .weather h1{
    font-size: 80px;
font-weight: 500;
  }
    
  .weather h2{
    font-size: 40px;
font-weight: 400;
margin-top: -10px;

  }

  .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20x;
    margin-top: 50px;
  }
  
    .col{
        display: flex;
        text-align: left;
        align-items: center;
      }
    
      .col img{
        width: 40px;
margin-right: 10px;
      }

      .humidity ,.wind{
        font-size: 28px;
        margin-top: -10px;
      }